{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>
        
        
        
        {% block content %}
        <div class="container">
            <div class="row">
               
                <p>{{blog.blog_content}}</p>
                <span>
                <p>Posted by {{blog.user.username| capitalize}}</p>
                <a href="/blog/{{blog.id}}?likes=1">
                <i class="material-icons"></i>
                    <i class="material-icons">Likes</i>
                </a>{{blog.likes}} <a href="/blog/{{blog.id}}?dislikes=1">
                    <i class="material-icons">Dislikes</i>
                </a>{{blog.dislikes}}</span>
                
                <br>
                <br>
                <a class="btn btn-primary" href="/blog/new/"> Create Blog</a>
                <br>
                <br>
               
                <a class="btn btn-success" href="url_for('main.update_blog',id = blog.id)}}"> Update Blog</a>
                <br>
                <br>
                <a class="btn btn-danger" href="{{url_for('main.delete_blog',id = blog.id)}}"> Delete Blog</a>
              
               
                 
            </div>
            <div class="row">
                <hr>
                
                    {{ wtf.quick_form(comment_form) }}
                
                <h3>Comments</h3>
                {{macro.displayComments(comments)}}
            </div>
        </div>
        {% endblock %}