{% extends 'base.html'%}
{% import 'macros.html' as macro%}




    
    {% block content %}
    <!-- Card -->
<div class="card">
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <p>{{quote.quote}}</p>
      <h2 class="card-title" style="color:white;"> BLOGS</h2>
      
      <!-- Text -->
      <p class="card-text"> {{ macro.displayBlogsList(blogs)}}</p>
     
    </div>
  
  </div>
  
<style>

.card{
    background-color:olive;
    
}
.card-body{
  flex-direction: row;
  margin-left: 25%;
}
</style>
  {% endblock%} 

   
       


