{% extends 'base.html'%}
{% import 'macros.html' as macro%}




    
    {% block content %}
    <div class ="categories">
        <div class='container card  block' >
            <h3 align="center">Politics</h3>
            <ul>
                {{ macro.displayBlogsList(politics)}}
            </ul>
        </div>
        
        <div class='container card  block' >
            <h3 align="center">Business</h3>
            <ul>
                {{ macro.displayBlogsList(business)}}
            </ul>
        </div>
        
        <div class='container card  block' >
            <h3 align="center"> Lifestyle</h3>
            <ul>
            {{ macro.displayBlogsList(lifestyle)}}
        </ul>
    </div>
    
    <div class='container card  block' >
        <h3 align="center">Health & Fitness</h3>
        <ul>
        {{ macro.displayBlogsList(health)}}
    </ul>
</div>

<div class='container card  block' >
    <h3 align="center">Science & Technology</h3>
    <ul>
         {{ macro.displayBlogsList(technology)}}
        </ul>
    </div>
</div>
<style>

    .categories{
        flex-direction: column;
        margin-left: 1%;
    }
    body{
        background-color: mediumpurple;
    }
    
    
</style>
{% endblock%}  


